/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap');

// Custom page
.page-schedule {
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
}

.page-assignment {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
}

.page-readings {
  max-width: 1000px;
  margin: auto;
  display: grid;
}

.navbar {
  margin-bottom: 20px;
  font-variant: small-caps !important;
}

.navbar-title {
    text-transform: none !important;
    font-weight: 700;
}

.nav-link {
    text-transform: none !important;
    font-weight: 700;
    font-size: 1.25rem !important;
}

.nav-fixed .quarto-light {
  padding-top: 90px;
}

.navbar-brand {
    font-size: 1.50rem !important;
}

// fonts
$font-family-sans-serif: 'Oswald';
$font-size-root: "20px";

// colors for background
$body-bg: #F9F7F7;
$body-color: #112D4E;
$link-color: #112D4E;
$selection-bg: #112D4E;

// headings
// $presentation-heading-font: "Oswald";

// $presentation-heading-text-transform: uppercase !default;
$presentation-heading-font-weight: bold;
$presentation-heading-color: #3F72AF;


// SCSS Rules
.reveal .slide blockquote {
  color: #112D4E;
}

.reveal .slide .aside-footnotes {
  color: #112D4E;
}

.navbar-dark {
  background-color: #112D4E;
}

h1, h2 {
  font-variant: small-caps;
}

.navbar-title {
  text-transform: uppercase;
  font-weight: 700;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 700;
}

// Table Rules
.table-schedule {
  width: 100%;
}

.table-schedule th {
  border-bottom: 2px solid #112D4E;
}

.ts-date {
  text-align: left;
  width: 25%;
}

.ts-topic {
  text-align: left;
  width: 45%;
}

.ts-content {
  text-align: center;
  width: 10%;
}

// Assignment Table Rules

.table-assignment {
  width: auto;
}

.table-assignment th {
  border-bottom: 2px solid #112D4E;
}

.tassign-date {
  text-align: left;
  width: 25%;
}

.tassign-topic {
  text-align: left;
  width: 45%;
}

.tassign-content {
  text-align: center;
  width: 15%;
}

/* css styles */
.navbar-dark {
  background-color: #F9F7F7;
}

.title {
  font-weight: 700;
  font-style: bold;
}

.nav-fixed .quarto-light {
  padding-top: 90px;
}

.ul-reading {
    list-style: none;
    padding-left: 0;
}
.ul-reading li {
    position: relative;
    padding-left: 20px;
}
.ul-reading li:before {
    content: '';
    width: 50px;
    height: 54px;
    position: absolute;
    background-image: url("assets/reading-icon-1.png");
    background-size: cover;
    background-position: center;
    left: -3%;
    top: 50%;
    transform: translateY(-50%);
}

.h1-reading {
  text-decoration: underline;
  margin-top: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: none;
}

.h2-reading {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 700;
}

.prev-next {
  padding-right: 1rem;
  font-weight: 700;
}

.prev-next-container {
  padding-top: 1rem;
}

iframe {
  height: 500px;
  width: 800px;
  margin: 0 auto;
  display: block;

}

.navbar-dark .navbar-brand {
    color: #F9F7F7 !important;
}

.navbar-dark .navbar-brand:hover,.navbar-dark .navbar-brand:focus {
    color: #545555 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F9F7F7 !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #545555  !important;
}